@font-face {
    font-family: 'ChronicaPro';
    src: url('ChronicaPro-Bold.woff2') format('woff2'),
        url('ChronicaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ChronicaPro';
    src: url('ChronicaPro-Regular.woff2') format('woff2'),
        url('ChronicaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChronicaPro';
    src: url('ChronicaPro-Light.woff2') format('woff2'),
        url('ChronicaPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

